.h1 { 
  color:red;
}

:local(.h3){
  color:green;
}
:global(.h2) {
  color: blue;
}


.bg1{
  width:100px;
  height:100px;
  border:3px solid #000;
  background:url("../images/big.png");
}
.bg2{
  width:100px;
  height:100px;
  border:3px solid #000;
  background:url("../images/small.png");
}

